:root {
  --content-max-width: 1200px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}

body {
  margin: 0;
  background-color: var(--el-bg-color-page);
  color: var(--el-text-color-primary);
}
